*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    display:table;
    content: "";
    clear: both;
}
body>.container{
    width: 90%;
    margin: auto;
}
.container header{
    background-color: #E579E6 ;
    height: 100px;
    width: 100%;
    margin: 20px 0;
}
.container .image-section{
    width: 100%;
    height:400px;
    background-color: #E1D67A;
    margin: 20px 0;
}
.heading-column-section{
    background-color: #ABCFE7;
    width: 100%;
    height: 80px;
}
.container main{
    background-color: #0088FC;
}
.columns-container{
    width: 100%;
    height: 500px;
    padding-bottom: 10px;    
    margin-top: 20px ;
}
.left-column, .center-column, .right-column{
    background-color: #ABCFE7;
}
.left-column{
    height: 100%;
    width: 25%;
    float: left;
}
.center-column{
    height: 100%;
    width: calc(50% - 30px);
    float: left;
    margin: 0 15px;
}
.right-column{
    height: 100%;
    width: 25%;
    float: left;
}
footer{
    background-color: #8801FE;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
}